* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body h2 {
  font-size: 45px;
  padding-left: 25px;
}
body strong {
  color: #E72B2B;
}

header {
  font-family: "Almendra SC", serif;
  background-color: #E72B2B;
  overflow: hidden;
}
header .escudo {
  position: relative;
  left: 50px;
  top: 20px;
}
header h1 {
  color: #ffffff;
  position: relative;
  left: 350px;
  bottom: 70px;
  letter-spacing: 3px;
  font-size: 75px;
}
header h5 {
  color: #ffffff;
  font-size: 50px;
  position: relative;
  left: 100px;
  bottom: 93px;
}
header .barraDeNavegacion {
  border-top: 3px solid #ffffff;
  width: 100%;
  background-color: #D20606;
  font-family: "Almendra SC", serif;
}
header #menu a:hover {
  color: #D20606;
  background: #ffffff;
  animation: 1s ms 1;
}
header .nav-label, header .nav-input {
  display: none;
}
@keyframes ms {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
}
header ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
header li {
  float: left;
}
header li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 26px 50px;
  text-decoration: none;
}

main {
  font-family: "Almendra SC", serif;
}
main p {
  text-indent: 65px;
  font-size: 25px;
  font-weight: lighter;
  padding-left: 15px;
  text-align: justify;
}
main .fundacion {
  position: relative;
  left: 25px;
  top: 60px;
  height: 300px;
  width: auto;
}
main .fundaciontitulo {
  position: relative;
  left: 550px;
  bottom: 275px;
}
main .p1fundacion {
  max-width: 780px;
  position: relative;
  bottom: 250px;
  left: 470px;
}
main .p2fundacion {
  position: relative;
  bottom: 215px;
}
main .p3fundacion {
  position: relative;
  bottom: 200px;
}
main .colorestitulo {
  position: relative;
  bottom: 160px;
}
main .pcolores {
  position: relative;
  bottom: 150px;
}
main .hescudos {
  position: relative;
  left: 650px;
  bottom: 100px;
}
main .escudotitulo {
  position: relative;
  bottom: 470px;
}
main .pescudo {
  position: relative;
  bottom: 440px;
  max-width: 700px;
}
main .himnostitulo {
  position: relative;
  bottom: 320px;
}
main .p1himnos {
  position: relative;
  bottom: 290px;
}
main .himno1 {
  position: relative;
  text-indent: 0%;
  text-align: center;
  font-size: 35px;
  color: #D20606;
  bottom: 260px;
}
main .p2himnos {
  position: relative;
  bottom: 200px;
}
main .himno2 {
  position: relative;
  text-indent: 0%;
  text-align: center;
  font-size: 35px;
  color: #D20606;
  bottom: 160px;
}

main .p1camisetas {
  max-width: 980px;
  position: relative;
  bottom: -45px;
  left: 270px;
}
main .columnacamisetas {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  position: absolute;
  top: 450px;
}
main .columnacamisetas img {
  width: 100%;
  margin-bottom: 10px;
}

main {
  font-family: "Almendra SC", serif;
}
main p {
  text-indent: 65px;
  font-size: 25px;
  font-weight: lighter;
  padding-left: 15px;
  text-align: justify;
}
main .p1estadio {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .mapaestadio {
  position: relative;
  width: 100%;
  height: 0%;
  padding-bottom: 40%;
  text-align: center;
  border: 3px solid #D20606;
  background: linear-gradient(90deg, red, white);
  margin-bottom: 30px;
}
main .mapaestadio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #galeriaestadio {
  margin-top: 50px;
  height: 500px;
  overflow: hidden;
  margin-bottom: 50px;
  border: 3px solid #D20606;
  background: linear-gradient(90deg, red, white);
}
main .itemgaleria {
  height: 100%;
  position: relative;
}
main .tarjetagaleria {
  height: 100%;
}
main .flechasgaleria {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
main #tarjetagaleria-1 {
  background-color: #D20606;
}
main #tarjetagaleria-2 {
  background-color: #D20606;
}
main #tarjetagaleria-3 {
  background-color: #D20606;
}
main #tarjetagaleria-4 {
  background-color: #D20606;
}
main a {
  text-decoration: none;
}
main i {
  color: #ffffff;
}
main #galeriaestadio img {
  width: 100%;
  height: 100%;
}
main .p3estadio {
  margin-bottom: 30px;
}

main .h2ref {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .grid1referentes, main .grid5referentes, main .grid3referentes, main .grid2referentes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
  padding: 30px;
  border: 4px solid #E72B2B;
  background-color: #D20606;
  margin-top: 40px;
}
main .item1 {
  width: 100%;
}
main .item1 img {
  width: 50%;
  height: auto;
}
main .item2 {
  width: 100%;
}
main .item2 img {
  width: 50%;
  height: auto;
}
main .item3 {
  width: 100%;
}
main .item3 img {
  width: 50%;
  height: auto;
}
main .item5 {
  width: 100%;
}
main .item5 img {
  width: 50%;
  height: auto;
}
main .referentes4 {
  text-align: center;
  padding: 30px;
  border: 4px solid #E72B2B;
  background-color: #D20606;
  margin-top: 40px;
  margin-bottom: 40px;
}
main .item4 {
  width: 100%;
}
main .item4 img {
  width: 20%;
  height: auto;
}

main #conteitemcarrusel {
  margin-top: 50px;
  height: 500px;
  overflow: hidden;
  margin-bottom: 50px;
}
main .itemcarrusel {
  height: 100%;
  position: relative;
}
main .tarjetacarrusel {
  height: 100%;
}
main .flechascarrusel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
main #tarjetacarrusel-1 {
  background-color: #D20606;
}
main #tarjetacarrusel-2 {
  background-color: #E72B2B;
}
main #tarjetacarrusel-3 {
  background-color: #D20606;
}
main a {
  text-decoration: none;
}
main i {
  color: #ffffff;
}
main #conteitemcarrusel img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #D20606;
  position: relative;
}
footer h4 {
  text-align: center;
  font-family: "Almendra SC", serif;
  color: #ffffff;
}

.footercamisetas {
  top: 100px;
}

@media (max-width: 1240px) {
  main .p1fundacion {
    max-width: 700px;
  }
  main .hescudos {
    left: 625px;
  }
}
@media (max-width: 1205px) {
  main .fundacion {
    top: 100px;
  }
  main .p1fundacion {
    max-width: 590px;
  }
  main .escudotitulo {
    bottom: 405px;
  }
  main .pescudo {
    bottom: 405px;
  }
  main .hescudos {
    width: 505px;
    left: 655px;
  }
}
@media (max-width: 1024px) {
  header {
    overflow-x: hidden;
  }
  header .escudo {
    left: 35px;
    height: 190px;
    width: auto;
  }
  header h1 {
    left: 250px;
  }
  header h5 {
    left: 85px;
  }
  main {
    overflow-x: hidden;
  }
  main .fundacion {
    height: 280px;
    width: auto;
    left: 15px;
    top: 90px;
  }
  main .fundaciontitulo {
    bottom: 260px;
    left: 505px;
  }
  main .p1fundacion {
    left: 430px;
    max-width: 590px;
  }
  main .pescudo {
    max-width: 1020px;
  }
  main .hescudos {
    left: 300px;
    bottom: -130px;
  }
  main .himnostitulo {
    bottom: 180px;
  }
  main .p1himnos {
    bottom: 130px;
  }
  main .himno1 {
    bottom: 100px;
  }
  main .p2himnos {
    bottom: 70px;
  }
  main .himno2 {
    bottom: 50px;
  }
  header .h5camiseta {
    bottom: 85px;
  }
  main .p1camisetas {
    max-width: 750px;
  }
  main .columnacamisetas img {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  header {
    overflow-x: hidden;
  }
  header .escudo {
    height: 150px;
    width: auto;
    left: 25px;
  }
  header h1 {
    font-size: 55px;
    left: 185px;
    bottom: 53px;
  }
  header h5 {
    font-size: 40px;
    left: 62px;
    bottom: 68px;
  }
  main {
    overflow-x: hidden;
  }
  main h2 {
    font-size: 40px;
  }
  main .fundacion {
    height: 215px;
    width: auto;
    top: 150px;
  }
  main .fundaciontitulo {
    bottom: 180px;
    left: 45px;
  }
  main p {
    font-size: 22px;
  }
  main .p1fundacion {
    max-width: 445px;
    bottom: 200px;
    left: 320px;
  }
  main .p2fundacion {
    bottom: 200px;
  }
  main .escudotitulo {
    bottom: 345px;
  }
  main .pescudo {
    bottom: 325px;
  }
  main .hescudos {
    width: 405px;
    height: auto;
    bottom: -140px;
  }
  header .escudocamiseta {
    height: 150px;
    width: auto;
    left: 25px;
  }
  header .h5camiseta {
    bottom: 60px;
  }
  main .columnacamisetas img {
    width: 200px;
    height: auto;
    margin-bottom: 170px;
  }
  main .p1camisetas {
    max-width: 550px;
    left: 200px;
  }
  header .escudo.ref {
    height: 150px;
    width: auto;
    left: 25px;
  }
}
@media (max-width: 425px) {
  header {
    height: 230px;
    width: 100%;
  }
  header .escudo {
    height: 115px;
    width: auto;
    left: 20px;
  }
  header .nav-container {
    position: absolute;
    top: 190px;
  }
  header .nav-label {
    display: block;
    cursor: pointer;
  }
  header .barraDeNavegacion {
    position: fixed;
    top: auto;
    bottom: auto;
    background-color: #E72B2B;
    width: 100%;
    left: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at top left);
    transition: clip-path 0.5s ease-in-out;
    z-index: 1;
    border-top: 1px solid #ffffff;
  }
  header .nav-input:checked + .barraDeNavegacion {
    clip-path: circle(100% at center);
  }
  header h1 {
    font-size: 45px;
    left: 153px;
    bottom: 33px;
  }
  header h5 {
    font-size: 30px;
    left: 49px;
    bottom: 98px;
  }
  main {
    position: relative;
    padding-bottom: 50px;
    overflow-y: hidden;
  }
  main h2 {
    font-size: 33px;
  }
  main .fundacion {
    top: 480px;
    left: 50px;
  }
  main .fundaciontitulo {
    bottom: 210px;
    left: 30px;
  }
  main .p1fundacion {
    left: 0px;
  }
  main .p2fundacion {
    bottom: -40px;
  }
  main .p3fundacion {
    bottom: -40px;
  }
  main .colorestitulo {
    bottom: -40px;
  }
  main .pcolores {
    bottom: -40px;
  }
  main .escudotitulo {
    bottom: 130px;
  }
  main .pescudo {
    bottom: 125px;
  }
  main .hescudos {
    width: 305px;
    height: auto;
    bottom: -420px;
    left: 130px;
  }
  main .himnostitulo {
    bottom: 0px;
  }
  main .p1himnos {
    bottom: -10px;
  }
  main .himno1 {
    font-size: 30px;
    bottom: -20px;
  }
  main .p2himnos {
    bottom: -20px;
  }
  main .himno2 {
    font-size: 30px;
    bottom: -20px;
  }
  header .escudocamiseta {
    height: 115px;
    width: auto;
    left: 20px;
  }
  header .h5camiseta {
    bottom: 95px;
  }
  main .p1camisetas {
    left: 85px;
    max-width: 340px;
  }
  main .columnacamisetas {
    top: 850px;
  }
  main .columnacamisetas img {
    width: 100px;
    height: auto;
    margin-bottom: 430px;
  }
}
@media (max-width: 414px) {
  main .fundacion {
    top: 500px;
  }
}
@media (max-width: 409px) {
  main .fundacion {
    top: 510px;
  }
  main .hescudos {
    bottom: -445px;
    left: 108px;
  }
}
@media (max-width: 387px) {
  main .fundacion {
    top: 542px;
  }
  main .hescudos {
    bottom: -495px;
  }
}
@media (max-width: 375px) {
  header {
    height: 190px;
    width: 100%;
  }
  header .escudo {
    height: 90px;
    width: auto;
  }
  header .nav-container {
    position: absolute;
    top: 150px;
  }
  header .nav-label {
    display: block;
    cursor: pointer;
  }
  header .barraDeNavegacion {
    position: fixed;
    top: auto;
    bottom: auto;
    background-color: #E72B2B;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at top left);
    transition: clip-path 0.5s ease-in-out;
    z-index: 1;
  }
  header .nav-input:checked + .barraDeNavegacion {
    clip-path: circle(100% at center);
  }
  header h1 {
    font-size: 40px;
    left: 133px;
    bottom: 20px;
  }
  header h5 {
    font-size: 28px;
    left: 39px;
    bottom: 88px;
  }
  main h2 {
    font-size: 30px;
  }
  main .fundacion {
    top: 530px;
    left: 27px;
  }
  main .hescudos {
    bottom: -460px;
    left: 90px;
  }
  main .himno1 .himno2 {
    font-size: 20px;
  }
  header .escudocamiseta {
    height: 90px;
    width: auto;
  }
  header .h5camiseta {
    bottom: 84px;
  }
  main .p1camisetas {
    max-width: 290px;
  }
  main .columnacamisetas img {
    margin-bottom: 635px;
  }
  footer h4 {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  header {
    height: 160px;
    width: 100%;
  }
  header .escudo {
    height: 70px;
    width: auto;
  }
  header .nav-container {
    position: absolute;
    top: 120px;
  }
  header .nav-label {
    display: block;
    cursor: pointer;
  }
  header .barraDeNavegacion {
    position: fixed;
    top: auto;
    bottom: auto;
    background-color: #E72B2B;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0% at top left);
    transition: clip-path 0.5s ease-in-out;
    z-index: 1;
  }
  header .nav-input:checked + .barraDeNavegacion {
    clip-path: circle(100% at center);
  }
  header h1 {
    font-size: 32px;
    left: 113px;
    bottom: 10px;
  }
  main h2 {
    font-size: 27px;
  }
  header h5 {
    font-size: 21px;
    bottom: 68px;
    left: 35px;
  }
  main .fundacion {
    height: 200px;
    width: auto;
    top: 630px;
    left: 20px;
  }
  main .fundaciontitulo {
    bottom: 200px;
  }
  main .escudotitulo {
    bottom: 80px;
  }
  main .pescudo {
    bottom: 80px;
  }
  main .hescudos {
    height: 120px;
    width: auto;
    bottom: -560px;
    left: 115px;
  }
  main .himno1 .himno2 {
    font-size: 16px;
  }
  header .escudocamiseta {
    height: 70px;
    width: auto;
  }
  header .h5camiseta {
    bottom: 65px;
  }
  main .columnacamisetas img {
    width: 80px;
    height: auto;
    margin-bottom: 750px;
  }
  main .p1camisetas {
    top: 10px;
    left: 70px;
    max-width: 250px;
  }
  footer h4 {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
