@import "./utilities/variables";
@import "./base/reset";
body{
    overflow-x: hidden;
    h2{
        font-size: 45px;
        padding-left: 25px;
    }
    strong{
        color: $color-principal;
    }
}
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/main-camiseta";
@import "./layout/main-estadio";
@import "./layout/main-referentes";
@import "./layout/main-sede";
@import "./layout/footer";
@import "./layout/media1240";
@import "./layout/media1205";
@import "./layout/media1024";
@import "./layout/media1017";
@import "./layout/media917";
@import "./layout/media817";
@import "./layout/media768";
@import "./layout/media762";
@import "./layout/media749";
@import "./layout/media700";
@import "./layout/media675";
@import"./layout/media652";
@import "./layout/media605";
@import"./layout/media560";
@import "./layout/media425";
@import "./layout/media423";
@import "./layout/media414";
@import "./layout/media409";
@import "./layout/media389";
@import "./layout/media387";
@import "./layout/media385";
@import "./layout/media375";
@import "./layout/media373";
@import "./layout/media367";
@import "./layout/media363";
@import "./layout/media353";
@import "./layout/media338";
@import "./layout/media320";