footer{
    background-color: #E72B2B;
    position: relative;
    h4{
        text-align: center; 
        font-family: 'Almendra SC', serif; 
        color: #ffffff;
    }
}
.footercamisetas{
    top: 100px;
}