header{
    font-family: 'Almendra SC', serif; 
    background-color: $color-principal;
    overflow: hidden;
    .escudo {
        position: relative;
        left: 50px; top: 20px;
    }
    h1{
        color: $color-terciario ;
    position: relative;
    left: 350px; bottom: 70px;
    letter-spacing: 3px;
    font-size: 75px;
    }
    h5 {    
        color:$color-terciario;
        font-size: 50px;
        position:relative ;
        left: 100px; 
        bottom: 93px;
    }
    .barraDeNavegacion{
        border-top: 3px solid $color-terciario;
        width: 100%;
        background-color: #D20606; 
        font-family: 'Almendra SC', serif;
    }
    #menu a:hover{
        color:     $color-secundario;
        background: $color-terciario;
        animation: 1s ms 1;
    }
    .nav-label , .nav-input{
        display: none;
    }
    @keyframes ms {
        0%{
                opacity: 0;
                transform: scale(1.2);
        }
    }
    ul{
        margin: 0px;
        padding: 0px; 
        overflow: hidden;
        display: flex;
        justify-content: center;
        color: $color-terciario;
}
li{
    float: left;
}
li a{
        display: block;
        color: $color-terciario;
        text-align: center;
        padding: 26px 50px;
        text-decoration: none;
}
}