main{
    font-family: 'Almendra SC', serif;
    p{
        text-indent: 65px;
        font-size: 25px;
        font-weight: lighter;
        padding-left: 15px;
        text-align: justify;
    }
    .fundacion{
        position: relative;
        left: 25px;
        top: 60px;
        height: 300px;
        width: auto;
    }
    .fundaciontitulo {
        position: relative;
        left: 550px;
        bottom: 275px;
    }
    .p1fundacion {
        max-width:780px;
        position: relative;
        bottom:250px ;
        left: 470px;
    }
    .p2fundacion{
        position: relative;
        bottom: 215px;
    }
    .p3fundacion{
        position: relative;
        bottom: 200px;
    }
    .colorestitulo{
        position: relative;
        bottom: 160px;
    }
    .pcolores{
        position: relative;
        bottom: 150px;
    }
    .hescudos{
        position: relative;
        left: 650px;
        bottom:100px ;
    }
    .escudotitulo {
        position: relative;
        bottom: 470px;
    }
    .pescudo{
        position: relative;
        bottom: 440px;
        max-width: 700px;
    }
    .himnostitulo{
        position: relative;
        bottom:320px ;
    }
    .p1himnos{
        position: relative;
        bottom: 290px; 
    }
    .himno1{
        position: relative;
        text-indent: 0%;
        text-align: center;
        font-size: 35px;
        color:$color-secundario;
        bottom: 260px;
    }
    .p2himnos{
        position: relative;
        bottom: 200px;
    }
    .himno2{
        position: relative;
        text-indent: 0%;
        text-align: center;
        font-size: 35px;
        color:$color-secundario;
        bottom: 160px;
    }
}