@media (max-width: 675px){
    main .fundacion{
        top: 412px;
        left: 195px;
    }
    main .hescudos{
        width: 305px;
        height: auto;
        bottom: -340px;
        left: 250px;
    }
}