@media (max-width:385px){
    header h1{
        font-size: 40px;
        left: 133px;
        bottom: 20px;
    }
    header h5{
        font-size: 25px;
        left: 53px;
        margin-top: -20px;
    }
    .h5camiseta{
        font-size: 25px;
        left: 53px;
        margin-top: 9px;
    }
    main .p1camisetas{
        position: relative;
        max-width: 280px;
        top:6px ;
        left: 85px;
    }
}