@media (max-width:425px){
    header{
        height: 230px;
        width: 100%;
    }
    header .escudo{
        height: 115px;
        width: auto;
        left: 20px;
    }
    header .nav-container{
        position: absolute;
        top: 190px;
    }
    header .nav-label{
        display: block;
        cursor: pointer;
    }
    header .barraDeNavegacion{
        position: fixed;
        top: auto;
        bottom: auto;
        background-color: $color-principal;
        width: 100%;
        left: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at top left);
        transition: clip-path 0.5s ease-in-out;
        z-index: 1;
        border-top: 1px solid $color-terciario;
    }
    header .nav-input:checked + .barraDeNavegacion{
        clip-path: circle(100% at center);
    }
    header h1{
        font-size: 45px;
        left: 153px;
        bottom: 33px;
    }
    header h5{
        font-size: 30px;
        left: 49px;
        bottom: 98px;
    }
    main{
        position: relative; 
        padding-bottom: 50px;
        overflow-y: hidden;
    }
    main h2{
        font-size: 33px;
    }
    main .fundacion{
        top: 480px;
        left: 50px;
    }
    main .fundaciontitulo{
        bottom: 210px;
        left: 30px;
    }
    main .p1fundacion{
        left: 0px;
    }
    main .p2fundacion{
        bottom: -40px;
    }
    main .p3fundacion{
        bottom: -40px;
    }
    main .colorestitulo{
        bottom: -40px;
    }
    main .pcolores{
        bottom: -40px;
    }
    main .escudotitulo{
        bottom: 130px;
    }
    main .pescudo{
        bottom: 125px;
    }
    main .hescudos{
        width: 305px;
        height: auto;
        bottom: -420px;
        left: 130px;
    }
    main .himnostitulo{
        bottom: 0px;
    }
    main .p1himnos{
        bottom: -10px;
    }
    main .himno1{
        font-size: 30px;
        bottom: -20px;
    }
    main .p2himnos{
        bottom: -20px;
    }
    main .himno2{
        font-size: 30px;
        bottom: -20px;
    }
    header .escudocamiseta{
        height: 115px;
        width: auto;
        left: 20px;
    }
    header .h5camiseta{
        bottom: 95px;
    }
    main .p1camisetas{
        left: 85px;
        max-width: 340px;
    }
    main .columnacamisetas{
        top: 850px;
    }
    main .columnacamisetas img{
        width: 100px;
        height: auto;
        margin-bottom: 430px;
    }
}