@media (max-width: 675px){
    main .fundacion{
        top: 412px;
        left: 195px;
    }
    main .hescudos{
        width: 305px;
        height: auto;
        bottom: -340px;
        left: 250px;
    }
    main .p1camisetas{
        position: relative;
        max-width: 400px;
    }
    main .columnacamisetas img{
        width: 200px;
        height: auto;
        margin-bottom: 240px;
    }
}